extends layout

block content
  //h1= title
  //p Welcome to #{title}

  //Wrapper
  #wrapper

    //Selected Color
    h2 Selected Color
    #selected_color
      table
        thead
          th Color
        tbody


    //Color Input
    #color_selection
      input#clr_whl(type="text")
    // /Color Input
  // /Wrapper
