doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
  body
    block content
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/spectrum.js')
    script(src='/javascripts/global.js')
